@font-face {
  font-family: 'Regular';
  src: url(Fonts/barada-reqa.ttf);
}
@font-face {
  font-family: 'Regular two';
  src: url(Fonts/Arsenica-Arabic-Extrabold-TRIAL.ttf);
}
@font-face {
  font-family: 'Regular three';
  src: url(Fonts/koftarabic-extralight.otf);
}
:root{
  --BackgroundColor:#1f1f1f;
  --Color:#f7f5f5;
  --Special-Color: #1080e2;
  --Font-family:'Regular Three';
  --Font-size:12px;
}
html{
  background-color:var(--BackgroundColor);
  font-family: var(--Font-family);
  font-size: var(--Font-size);
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  & *{
    color: var(--Color);
    transition: all .2s ease;
    text-decoration: none;
    list-style: none;
  }
  & ::-webkit-scrollbar{
    display: none;
  }
}
h1.Name{
  background-image: linear-gradient( to right , #4633ff , #875adb);
  background-clip: text;
  color: transparent;
  font-size: calc(var(--Font-size) * 2);
  font-family:'Regular Two';
}
.Section{
  width: 95%;
  padding: 1% 2%;
  border: 1px solid #040404;
  border-radius: 5px;
}

/* Means Logo Styling */
.Nox{
  position: relative;
  display: inline-block;
  font-size: 20px;
  & h2{
    font-family: "Regular";
    background-image: linear-gradient( to left bottom , #4633ff , #875adb);
    background-clip: text;
    color: transparent;
  }
  & h4{
    position: absolute;
    top: 30%;
    left: 25%;
    font-size: 11px;
    translate: -50% -50%;
    font-family: "Regular Three";
  }
}

/* All Sections in Home Page Styling */
.Sections{
  font-size: 13px;
  width: 100%;
  height: 65vh;
  margin-top: 5%;
  position: relative;
}

/* Alpha Section Of Styling */
.Sections.Alpha{
  display: grid;
  align-items: center;
  grid-template-columns: .75fr 2fr;
  grid-template-rows: 1fr;
  & .LeftSlider{
      h6{
        font-size:10px;
        font-family: "regular";
      &:nth-child(5){
        font-family: "regular two";
      }
      &:nth-child(4){
        margin-bottom: -5%;
      }
      h1.Name{
        margin: -5% 0%;
      }
      & .ButtonsSection{
        display: flex;
        gap: 5em;
      }
    }
  }
  & .RightSlider{
    position: relative;
    width: 100%;
    height: 100%;
    img.Me{
      position: absolute;
      width: 200px;
      right: 30%;
      height: auto;
    }
    .BigCiricle{
      width: 300px;
      height: 300px;
      border-radius: 50%;
      position: absolute;
      right: 25%;
      bottom: -20%;
      z-index: -1;
      background-image: linear-gradient( to top right , #4633ff , #875adb);
    }
  }
  & .BottomSlider .SvgSLider{
    display: flex;
    gap: 1em;
    align-items: center;
  }
}
.TechCard{
  width: 35px;
  height: 35px;
  position: relative;
  & img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
  }
}
.Button{
  padding: 5px 15px;
  background-color: transparent;
  border-radius: 5px;
  display: inline-block;
  margin: 0em 5%;
  margin-left: -1%;
  --First:#4633ff;
  position: relative;
  --Secound:#875adb;    
  &::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    scale: 1;
    border-radius: 5px;
    translate: -50% -50%;
    z-index: -1;
    background-image: linear-gradient( to right , #4633ff , #875adb);
  }
  &:hover{
    background-color: var(--First);
  }
  }
  .Outline{
    &:hover{
    background-color: var(--Secound);
  }
}
.NoxCode{
  width: 225px;
  height: 175px;
  background-color: #222222;
  border-radius: 10px;
  padding: 0px 10px ;
  font-family: monospace;
  font-size: 11px;
  & .top{
    width: 100%;
    height: 3em;
    background-color: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -4.5%;
    padding: 0px 10px ;
    border-radius: 10px 10px 0px 0px;
    & .Ciricle{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #19e107;
    }
  }
  .CodeSpace{
    padding-top: 10px;
    .Codes{
      padding-left: 10px;
    }
  }
  position: absolute;
  right: 10%;
  bottom: 0%;
  z-index: 999;
}
.Blink{
  width: 1px;
  height: 13px;
  bottom: 14%;
  left: 10%;
  position: absolute;
  display: inline-block;
  background-color: white;
  animation: Blink .5s linear infinite;
}
@keyframes Blink {
  0%,100%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
}

/* Header Section Of Styling */
.Header{
  width: 90%;
  padding: 1rem 2rem;
  position: fixed;
  left: 2.5%;
  top: 2%;
  background-color: #2f2f2f55;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(15px);
  border-radius: 2rem;
  & h1{
    font-family: monospace;
  }
  & ul{
    display: flex;
    gap: 2.5em;
    & li{
      padding: .25rem 1rem;
      border-bottom: 2px solid transparent;
      &:hover{
        border-bottom: 2px solid #875adb;
      }
    }
  }
  & .Button{
    padding: 5px 25px;
    font-weight: 900;
    font-family: monospace;
  }
}

/* Bravo Section Of Styling */
.Sections.Bravo{
  background-color: #222222;
  padding: 2% 0%;
  position: relative;
  text-align: center;
  & h1{
    position: relative;
    font-family:"Regular ";
    display: inline-block;
    &::before{
      content: "";
      width: 80px;
      height: 2px;
      position: absolute;
      top: 130%;
      left: 50%;
      translate: -50% -50%;
      background-image: radial-gradient( #875adb 50% , transparent 90%);
    }
  }
  .Skills{
    display: grid;
    width: 90%;
    padding: 2.5% 5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;
    justify-items: center;
  }
}
.SkillsCard{
  width: 300px;
  height: 75px;
  border-radius: 7.5px;
  background-color:#5c5b5b;
  position: relative;
  *{
    transition: all .2s ease;
  }
  .Icon{
    height: 85%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 15%;
    translate: -50% -50%;
  }
  .Bar {
    height: 5px;
    position: relative;
    width: 180px;
    background-color: #f7f5f5;
    margin-left: 30%;
    border-radius: 5px;
    .ProgressNumber{
      position: absolute;
      right: -0%;
      font-family: monospace;
      top: -200%;
      translate: -50% -50%;
    }
    .Progress{
      height: 100%;
      box-shadow: 2px 1px 5px 1px black;
      border-radius: 5px;
      position: absolute;
      left: 0;
      top: 50%;
      translate: 0 -50%;
      background-color: #4a48c7;
    }
  }
} 
.Topic{
  color: #875adb;
  font-family:monospace;
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 3%;
  translate: -50% -50%;
}

/* Section Charle Of Styling*/